body {
  margin: 0;
  background-color: rgb(32, 32, 32);
  color: rgb(207, 207, 207);
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}

.test {
  color: rgb(13, 112, 14);
}

button {
  background-color: rgb(13, 112, 14);
  color: rgb(207, 207, 207);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
